.btn-outline {
  display: flex;
  column-gap: 10px;
  align-items: center;

  height: 48px;
  padding: 12px 20px;
  margin-bottom: 10px;

  border-radius: 5px;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  box-shadow: #000 0px 0px 5px;

  transition: box-shadow 0.2s ease-in, scale 0.2s ease-in-out;
}

.btn-outline:hover {
  box-shadow: #000 0px 0px 0px;
  scale: 0.97;
}

.btn-outline:active {
  position: relative;
  top: 1px;
}